@page
@model HRManagement.UI.Pages.Departments.DashboardDepartmentModel
@{
}
<a asp-page="/HR/Departments/CreateDepartment">Create Departments</a></br>

<a asp-page="/HR/Departments/ListDepartments">List Departments</a></br>

