@page
@model HRManagement.API.Pages.Employee.HomeModel
@{
}
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

@section Styles {
    <link href="/css/login.css" rel="stylesheet" />
}

<section class="vh-100">
    <p>Home bro</p>
</section>